.services {
  /* background-color: antiquewhite; */
  padding: 20px;
}
body {
  background-color: whitesmoke;
}
.services-headings {
  text-align: center;
  margin-bottom: 40px;
}
.service-items {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-around;
  margin: 0 auto;
}
.service-item {
  background-color: white;
  flex-basis: 200px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-left: 20px;
}
.service-item-img {
  margin-top: 15px;
  height: 40px;
  width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.service-item:nth-of-type(odd) .service-item-img {
  background-color: greenyellow;
}
.service-item:nth-of-type(even) .service-item-img {
  background-color: rgb(131, 242, 181);
}

.pricing-planning {
  /* background-color: rgb(114, 114, 114); */
}

.headings {
  text-align: center;
}

.planning-items {
  display: flex;
  /* background-color: aliceblue; */
  flex-wrap: wrap;

  width: 1000px;
  justify-content: space-around;
  margin: 0 auto;
}
.single-plan {
  /* background-color: aliceblue; */
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.plan-type {
  height: 80px;
  display: flex;
  /* background-color: blue; */
  justify-content: space-evenly;
  align-items: center;
}
.plan-type .img {
  background-color: skyblue;
  border-radius: 10px;
  display: flex;
  height: 60px;
  flex-wrap: wrap;
  flex-basis: 60px;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.features {
  /* background-color: bisque; */
  display: flex;
  height: 230px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.feature-item {
  /* background-color: antiquewhite; */
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.feature-item .img {
  background-color: whitesmoke;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pricing-planning .price {
  text-align: center;
  font-size: 30px;
}
.btn {
  text-align: center;
  margin-bottom: 15px;
}
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.type-name {
  margin-left: -40px;
}
